################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/css/.vs/css/FileContentIndex/253d5a3a-e2a0-4ac6-bbaa-55137734af3e.vsidx
